@use '../../styles/mixin';
@use '../../styles/vars';

.login-form{
		padding-top: 5rem;
		.login-form {

		.__field__container{

		}
		.__button {
				margin-top: 50px;
				width: 100%;
				background-color: vars.$main-primary-color;
				color: #080710;
				padding: 15px 0;
				font-size: 18px;
				font-weight: 600;
				border-radius: 5px;
				cursor: pointer;

		}


	}

	.register-redirect {

		.button-register  {

		}

	}

}