@use '../../styles/mixin';
@use '../../styles/vars';

.register-page {
  padding: 0.1%;
  background-color: white;

  &__wrapper {
    max-width: 22.5rem;
    margin: 0 auto;
    padding: 0.5rem 2.5rem;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 12px;
  }

  &__isLogged {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__button {
    outline: 0;
    border: 0;
    padding: 1rem;
    margin-top: 1rem;
    background: vars.$main-primary-color;
    border-radius: 0.5rem;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
}

.form {
  max-width: 22.5rem;
  margin: 0 auto 4rem;
  text-align: center;

  &__label {
    margin-top: 15px;
  }

  &__input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 0.9rem;
    border-radius: 0.7rem;
  }

  &__button {
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
    background: vars.$main-primary-color;
    border-radius: 0.5rem;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background: vars.$main-secondary-color;
    }
  }

  &__message {
    margin: 0.9rem 0 0;
    color: #a1a1a1;
    font-size: 0.9rem;
  }

  &__inscription {
    color: vars.$main-primary-color;
    padding: 0.5rem;
  }
}
