@use '../../styles/mixin';
@use '../../styles/vars';

.profil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__delete {
    font-family: 'Poppins', sans-serif;
    outline: none;	
    border: none;
    border-radius: 8px;
    background-color: red;
    color: #fff;
    padding: 0.7rem;
    margin-top: 1rem;
    cursor: pointer;
  }
}