@use '../../styles/mixin';
@use '../../styles/vars';



.profil-settings__update {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  margin-bottom: 1rem;
  color: vars.$primary-dark-color;
  text-align: center;
 
}

.form {
  max-width: 22.5rem;
  margin: 0 auto 4rem;
  text-align: center;

  &__label {
    margin-top: 15px;
  }

  &__input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 0.9rem;
    border-radius: 0.7rem;
  }
}

.profil__update-user {
  outline: 0;
  border: 0;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: vars.$main-primary-color;
  border-radius: 0.5rem;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;   
}
.profil__update-user:hover {
  background-color: vars.$secondary-light-color;
  transition: 0.5s;   
}

.profil__update-user-mdp {
  outline: 0;
  border: 0;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #fff; 
  border-radius: 0.5rem;
  width: 100%;
  color: vars.$primary-dark-color;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;   
}
.profil__update-user-mdp:hover {
  background: vars.$primary-dark-color;
  color: #fff;  
  transition: 0.5s;   
}

.form__password {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 0.9rem;
  border-radius: 0.7rem;
}

.label__profil {
  text-align: left;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-top: 0.75rem;
  width: 100%;
  display: block;
  color: vars.$main-primary-color;
}