@use '../../styles/mixin';
@use '../../styles/vars';


.page404 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  
  @include mixin.breakpoint(desktop) {
    padding: 1.5rem vars.$headerHeight;
  }
}

.page404__title {
  font-size: 8rem;
  padding-bottom: 5rem;
}

.page404__text {
  font-size: 1.75rem;
}