@use '../../styles/mixin';
@use '../../styles/vars';

.profile {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  @include mixin.breakpoint(desktop) {
   padding: 1.5rem vars.$headerHeight;
  }
  &__wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 80%;

  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    @include mixin.breakpoint(desktop) {
      flex-direction: row;
     }
  }

  &__user {
    background-color: vars.$main-primary-color;
    border-radius: 1rem;
    padding: 3rem;
    color: white;
  }

  &__user-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  &__user-title {
    font-size: 2rem;
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: vars.$primary-dark-color;
    text-align: center;
  }

  &__update:hover {
    transition: 0.5s;
    transform: rotate(360deg);
  }

  &__settings {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-left: 1px solid black;
    margin-left: 1rem;

    @include mixin.breakpoint(desktop) {
      width: 80%;
    }
  }

  &__quiz {
    background-color: vars.$main-primary-color;
    color: white;
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
  }
  &__quiz:hover {
    text-decoration: underline;
  }
}

.profile__quiz--delete {
  background: red;
  font-size: 0.75rem;
  color: white;
  padding: 0.25rem;
  border-radius: 1rem;
}

.profile__score {
  margin-top: 1rem;
  font-size: 1.5rem;
}
