@use '../../styles/mixin';
@use '../../styles/vars';

.quiz__creation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quiz__parameter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1.5rem;
}

.quiz__selector {
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 2rem;
  font-family: 'Poppins', sans-serif;
}

.quiz__header {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.quiz__button {
  font-family: 'Poppins', sans-serif;
  outline: 0;
  border: 0;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: vars.$main-primary-color;
  border-radius: 0.5rem;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.answer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.answer_radio-button {
  margin-right: 0.5rem;
}

.question__title {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.question__number {
  margin-top: 2rem;
}


.error-message {
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: white;
  background: rgba(203, 24, 24, 0.757);
  border-radius: 5px;
}