// COULEURS
$main-primary-color: #0d72da;
$primary-dark-color: #003051;
$primary-light-color: #8dbff1;

$main-secondary-color: #fc9100;
$secondary-light-color: #ffb116;
$secondary-light2-color: #ffebc4;

$main-third-color: #dd5751;

$valid-answer-color: #3ea951;
$valid-answer-color2: #94b299;
$wrong-answer-color: #eb3c33;

$darkcolor: #213547;

// TAILLES
$headerHeight: 4rem;

//POLICE
$mainFont:'Poppins', cursive;
$secondaryFont:'Bangers', cursive;

