// COULEURS
$main-primary-color: #0d72da;
$primary-dark-color: #003051;
$primary-light-color: #8dbff1;

$main-secondary-color: #fc9100;
$secondary-dark-color: #dd5751;
$secondary-light-color: #ffb116;

$valid-answer-color: #3ea951;
$wrong-answer-color: #eb3c33;

//POLICES
$mainFont:'Poppins', cursive;
$secondaryFont:'Bangers', cursive;

// TAILLES
$headerHeight: 4rem;