@use './reset.css';
@use './mixin';
@use './vars';

/*==================== STYLE ========================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comic Neue', cursive;
  font-weight: 700;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
}

/*==================== SECTION ========================*/

section {
  padding: 1rem;
  margin: 1rem 1.5rem;
  background: url('../assets/img/bg_quiz.jpg');
}

button {
  font-family: 'Comic Neue', cursive;
  font-weight: 700;
}
