@use './reset.css';
@use './mixin';
@use './vars';


/*==================== STYLE ========================*/
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
/*     display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; */
    overflow-x: hidden;
  }
  
/*==================== LINK ========================*/
/*LINK TEXT*/
/* unvisited link */
.a__text {
    color: #fff;
  }
  /* mouse over link */
.a__text:hover {
color: vars.$main-secondary-color;
font-weight: 600;
}
  
  
section {
padding: 1rem;
margin: 1rem 1.5rem;
}