@use './reset.css';
@use './mixin';
@use './vars';


/*==================== STYLE ========================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  
/*==================== SECTION ========================*/
  
section {
padding: 1rem;
margin: 1rem 1.5rem;
}
