@use '../../styles/mixin';
@use '../../styles/vars';

.team-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 350px;
  margin: 1rem auto;
  border-radius: 1rem;
  background-color: vars.$primary-light-color;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.3);
  color: white;
  overflow: hidden;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 20px 2px vars.$main-primary-color;
  }

  &__header {
    height: 150px;

    &-img {
      width: 120px;
      margin-top: 0.5rem;
      height: auto;
      clip-path: circle(50%);
    }
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    &-name{
      font-size: 1.2rem;
      font-weight: 600;
    }

    &-roles{
      font-weight: 600;
      color: vars.$primary-dark-color;

      &__role{
        font-family: vars.$secondaryFont;
        font-weight: 500;
        font-size: 1.2rem;
      }
      
      &__other-role{
        font-size: 0.9rem;
        padding-top: 4px;
      }
    }
  }

  &__footer {
    padding: 1rem;
    background-color: vars.$primary-dark-color;
    color: white;
  }
  
  &__contact {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &>li {
      margin: 10px;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(15px);
      box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: vars.$main-secondary-color;
      }
    }
  }
}
