@use '../../styles/mixin';
@use '../../styles/vars';

.home {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  &__hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    @include mixin.breakpoint(desktop) {
      flex-direction: row;
      justify-content: space-between;
      padding: 1.5rem vars.$headerHeight;
    }
    &__description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
      @include mixin.breakpoint(desktop) {
        width:60% ;
      }
      &__title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        text-align: center;
        color:vars.$primary-dark-color;
        font-weight: 500;

        &-main-color{
          color:vars.$main-primary-color;
          margin-left:0.5rem ;
        }

        &-secondary-color{
          color:vars.$main-secondary-color;
        }
        &-primary-dark-color{
          color:vars.$primary-dark-color;
        }
      }
      &__subtitle{
        font-family: vars.$secondaryFont, sans-serif;
        font-size: 1.75rem;
        text-align: center;
        color:vars.$main-primary-color;
        margin-bottom: 1.75rem;

        &-secondary-color{
          color:vars.$main-secondary-color;
          margin-left:0.5rem ;
          margin-right:0.5rem ;
        }
      }
      &__strong{
        font-family: vars.$mainFont, sans-serif;
        font-size: 1.3rem;
        text-align: center;
        color:vars.$primary-dark-color;
        font-weight: 500;

        &-secondary-color{
          color:vars.$main-secondary-color;
        }
      }
      &__text{
        font-size: 1.1rem;
        line-height: 1.2;
        text-align: justify;
      }
    }
  
    &__random-quiz{  
      flex-grow: 1;
      &__container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__cards{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255,0.6), rgba(217, 216, 245,0.6), rgba(173, 179, 236,0.9), rgb(120, 145, 227), #0d72da);

    &__container{
      padding: 2rem;
      border-radius: 0.5rem;
      background-image: linear-gradient(to bottom, #ffffff, #d9d8f5, #adb3ec, #7791e3, #0d72da);
    }
  }
}



