@use '../../styles/mixin';
@use '../../styles/vars';

.app__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.app__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background: linear-gradient(
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
  ),
  url('../../assets/img/bg_quiz.jpg');

/*   min-height: 80.9vh; */
margin-top: 4rem;
/*   padding-top: vars.$headerHeight; */


  @include mixin.breakpoint(desktop) {

  }

}

.toast-message{
  margin-top: vars.$headerHeight !important;
  text-align: center !important;
}
