@use '../../../styles/mixin';
@use '../../../styles/vars';

.cardFilter__btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.cardFilter__btn:hover {
  color: vars.$secondary-light-color;
/*   border-color: vars.$secondary-light-color; */
}

.card-filter--selected{
  color: vars.$main-secondary-color;
}

/* .cardFilter__btn--active {
  color: vars.$secondary-light-color;
} */