@use '../../../styles/mixin';
@use '../../../styles/vars';

.cardFilter__btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.cardFilter__btn:hover {
  color: vars.$secondary-light-color;
/*   border-color: vars.$secondary-light-color; */
}

.cardFilter__btn--selected{
  color: vars.$main-primary-color;

}