@use '../../../styles/mixin';
@use '../../../styles/vars';

.cardFilter {
  background-color: #fff;
  border: none;
  color: vars.$primary-dark-color;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 2px;
  &:hover {
    color: vars.$main-secondary-color;
    border: 2px solid vars.$main-secondary-color;
  }
}


.card-filter--selected{
  color: vars.$main-secondary-color;
  // border: 2px solid vars.$main-secondary-color;
}

