@use '../../styles/mixin';
@use '../../styles/vars';


/*==================== HEADER ========================*/

.header {
  background-color: vars.$main-primary-color;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 100vw;
  height: 4rem;
  position: fixed;
  top: 0;

  &__logo{
  height: 4rem;
  z-index: 100;
  position: fixed;
  top: 1.25rem;
  left: 10px;
  font-size: 1.5rem;
  color:#fff;
  }

/*==================== NAVBAR ========================*/
  &__nav{
    position: fixed;
    width: 100%;
    height: 4rem;

    &-list {
      display: flex;
      flex-direction: column;
      height: auto;
      background-color: vars.$main-primary-color;

      @include mixin.breakpoint(desktop) {
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;   
      }

      &__items {
        font-size: 1.25rem;
        text-transform: uppercase;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;  

        @include mixin.breakpoint(desktop) {
          width: auto;
          padding: 10px;  
          margin-right: 1.25rem;
          border-top:none;
          border-radius: 12px;
        }
      }

      // Liste 1er élément <li>
      &__items:nth-child(1){
        margin-top: 4rem;

        @include mixin.breakpoint(desktop) {
          margin-top: 0; 
        }
      }

      &__items:hover{
        background-color: vars.$primary-dark-color;
      }
    }

  /*==================== BOUTON TOOGLE: menu hamburger ========================*/
  // ICON du menu change avec le state toggleMenu
    &__toggle{
      display: block;
      position: absolute;
      right: 10px;
      top: 7px;
      outline: none;	
      border: none;
      background-color: vars.$main-primary-color;
      color: #fff;

      @include mixin.breakpoint(desktop) {
        display: none;
      }
    }   
  }

   /*==================== BOUTON LOGIN ========================*/
  &__login {
    display: block;
    position: absolute;
    top: 0.9rem;
    right: 80px;
    outline: none;	
    border: none;
    border-radius: 8px;
    background-color: #003051;;
    color: #fff;
    z-index: 100;
    padding: 5px 5px 1px 5px;
  }
  &__login:hover {
    background-color: #fc9100;
  }


   /*==================== HEADER LINK ========================*/
  a {
    color: #fff;
  }  
}









