@use '../../styles/mixin';
@use '../../styles/vars';


/*==================== HEADER ========================*/

.header {
  background-color: #fff;
  color: vars.$main-primary-color;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 100vw;
  height: 4rem;
  position: fixed;
  z-index: 100;
/*   padding: 0.5rem 1rem; */
/* display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between; */
display: block;


&__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2rem;
  @include mixin.breakpoint(desktop) {
    padding: 0px 5rem; 
  }
}

/*==================== NAVBAR ========================*/
  &__nav{

    height: 4rem;

    //NAVBAR liste des élements de navigation <li>
    &-list {
      display: flex;
      flex-direction: column;
      height: auto;
      background-color: vars.$main-primary-color;

      @include mixin.breakpoint(desktop) {
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;   
      }
      
      //NAVBAR élements de navigation <li>
      &__items {
        display: none;
/*         font-size: 1.25rem;
        text-transform: uppercase;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
        transition: 0.5s;    */     
       
        @include mixin.breakpoint(desktop) {
          display: block;
          width: auto;
          padding: 10px;  
          margin-right: 1.25rem;
          border-top:none;
          border-radius: 3px;
        }
    }

      // 1er élément <li>
      &__items:nth-child(1){
        margin-top: 4rem;
        @include mixin.breakpoint(desktop) {
          margin-top: 0; 
        }
      }

      // Liens des éléments <li>
      &__items-link{
        width: auto;
        padding: 7px;  
        border-radius: 3px;
        transition: ease-in-out 0.3s;
        &--active{
          text-decoration: underline;       
        }
      }
      &__items-link:hover{
        text-decoration: underline;
      }
    
      


    }

  /*==================== BOUTON TOOGLE: menu hamburger ========================*/
  // ICON du menu change avec le state toggleMenu
    &__toggle{
      display: block;
      position: absolute;
      right: 10px;
      top: 7px;
      outline: none;	
      border: none;
      background-color: vars.$main-primary-color;
      color: #fff;

      @include mixin.breakpoint(desktop) {
        display: none;
      }
    }   
  }

   

   /*==================== HEADER LINK ========================*/
/*   a{
    color:#fff;
  } */
}








