@use '../../../styles/mixin';
@use '../../../styles/vars';

.btn-filter {
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 2px;
  min-width: 6rem;
  background-color: #fff;
  color: vars.$primary-dark-color;
  text-transform: capitalize;
  cursor: pointer;
}

// Catégories
.tag-filter{
  &:hover {
    color: vars.$main-primary-color;
  }
  &--selected{
    color: vars.$main-primary-color;
  }
}
// Niveaux de difficulté
.level-filter{
  &:hover {
    color: vars.$main-secondary-color;
  }
  &--selected{
    color: vars.$main-secondary-color;
  }
}


