@use '../../../styles/mixin';
@use '../../../styles/vars';

.question-update__container{
    background-color: rgba(255, 255, 255,0.6);
    border-radius: 5%;
    margin: 2rem 0;
    padding: 1rem; 
}
.question-update__number {
    margin-bottom: 1rem;
    color: vars.$main-secondary-color;
    text-align: center;
    padding: 1rem 0;
    font-family: vars.$secondaryFont;
    font-size: 2.5rem;  
    @include mixin.breakpoint(desktop) {
        font-size: 3rem; 
      }  
}