@use '../../styles/mixin';
@use '../../styles/vars';

/*==================== FOOTER ========================*/

.footer {
  flex-shrink: 0;
  background-color: vars.$main-primary-color;
  color: #fff;
  width: 100vw;

  &__contact {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.75rem;
    gap:1rem;
    @include mixin.breakpoint(desktop) {
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;
    }
    &-seo{
      display: flex;
      flex-flow: column;
      width: 50%;
      @include mixin.breakpoint(desktop) {
        flex-flow: row wrap;
        justify-content: center;
        align-items: first baseline;
        gap: 0.5rem;
      }
      &__logo{
        &-img{
          width: 100px;
          height: auto;
        }
      }
      &__text{
        font-size:0.7rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        text-align: center;
        @include mixin.breakpoint(tablet) {
          font-size:0.8rem;
        }
        @include mixin.breakpoint(desktop) {
          font-size:0.9rem;
          text-align: left;
          margin: 0;
        }
      }
    }
  }
  
  &__contact-mail {
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: flex-start;
    
      &__title {
        padding-bottom: 0.2rem;
        font-weight: bold;
      }
      &__email  {
        display: flex;
        flex-flow: row nowrap;
    
      }
  }
}

/* FOOTER DARK: SITEMAP + MENTIONS */
.footer-dark {
  background-color: vars.$primary-dark-color;
  padding: 1.5rem;
  text-align: center;

  &__nav-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.7rem;

    @include mixin.breakpoint(desktop) {
      flex-flow: row wrap;
      justify-content: center;
      gap: 5rem;
    }
  }

  &__nav-item {
    color: #fff;
    text-transform: uppercase;

    &:hover {
      color: vars.$main-secondary-color;
    }
  }

  &__mentions {
    font-size: 0.7rem;
  }

  &__mention-list {
    padding: 1.5rem;
  }

  &__mention-item {
    border-right: 1px solid #cfcfcf;
    color: #cfcfcf;
    padding: 0 5px;
    text-decoration: underline;

    &:last-child {
      border-right: none;
    }

    &:hover {
      color: vars.$main-secondary-color;
    }
  }
}

.footer__contact-mail-text {
  padding-left: 0.5rem;
  color: #fff;
}
