@use '../../styles/mixin';
@use '../../styles/vars';

.quiz-container {
  text-align: center;
}

.quiz-title {
  text-align: center;
}

.quiz-score {

}

.quizgame__questionNb {

}

.quizgame__text {

}

.quizgame__answer {


}
.quizgame__answerBtn{
  outline: 0;
  border: 0;
  padding: 1rem;
  margin-top: 1rem;
  background: vars.$main-primary-color;
  border-radius: 0.5rem;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background: vars.$main-secondary-color;
  }

}

.valid{
  background-color: vars.$valid-answer-color;
  color: white;
}
.invalid{
  background-color: vars.$wrong-answer-color;
  color: white;
}
