@use '../../../styles/mixin';
@use '../../../styles/vars';

.search-filter {
  padding: 2rem 0;
    &__searchbar{
      &__text{
        padding: 1rem;
        border: none;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        font-family: vars.$mainFont;
      }
      &__btn{
        padding:1rem;
        border: none;
        background-color: vars.$main-primary-color;
        color: white;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        cursor: pointer;
        &:hover{
          background-color: vars.$main-secondary-color;
        }
      }
    }
}
