@use '../../styles/mixin';
@use '../../styles/vars';

.quiz-list {
  &__filters {
    background-color: vars.$primary-dark-color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    text-align: center;
    &__control-btns{
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      &__show-filters-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: vars.$main-primary-color;
        border: none;
        border-radius: 1rem 0  0 1rem;
        color: white;
        padding: 0.5rem 1rem;
        gap: 1rem;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: vars.$main-secondary-color;
          transform: scale(1.05);
        }
      }
      &__reset-filters-btn {
        background-color: vars.$wrong-answer-color;
        border: none;
        border-radius: 0 1rem  1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        padding: 0.5rem 1rem;   
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
    &-btns{
      display: none;
      &--open{
        transition: all 0.5s ease-in-out;
        display: block;

        &__box {
          padding: 1rem;
          &-title {
            font-family: vars.$secondaryFont;
            font-size: 1.5rem;
            font-weight: 400;
          }
          &-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            padding: 1rem;
            border-radius: 1rem;
            @include mixin.breakpoint(desktop) {
              flex-flow: row wrap;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }

  &__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    color: vars.$primary-dark-color;
    text-align: center;
  }
  &__result{
    padding-left: 2rem;
    @include mixin.breakpoint(desktop) {
      padding-left: 6rem;
    }
    &-number{
      color: vars.$main-primary-color;
      padding-left: 4px;
      font-weight: 500;
    }
  }
  &__quiz-filtered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    @include mixin.breakpoint(desktop) {
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
  &__not-found {
    font-size: 1.2rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}


