@use '../../styles/mixin';
@use '../../styles/vars';

.quiz-list {

  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 1rem;
    margin-bottom: 2rem;
    color: vars.$primary-dark-color;
    text-align: center;
  
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    @include mixin.breakpoint(desktop) {
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;   
      gap: 2rem;
    }
  }
  &__container {
    background-color: vars.$primary-dark-color;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    text-align: center;
  }
  &__filter {
    padding-bottom: 2rem;
  }
  &__text {
    padding-bottom: 1rem;
    text-decoration: underline;
    text-transform: uppercase;
  }

}

.filter__search-input {
  padding: 1rem;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.filter__search-btn {
  padding: 1rem;
  border: none;
  background-color: vars.$main-primary-color;
  color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}