@use '../../styles/mixin';
@use '../../styles/vars';

.about {
  &__quizotron {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  &__textcontainer {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
  }
  &__title {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    background-color: vars.$main-primary-color;
  }
  &__text {
    padding: 1rem;
    text-justify: auto;
  }
  &__stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  &__team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
  }
}

.about__team-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  @include mixin.breakpoint(desktop) {
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
