@use '../../styles/mixin';
@use '../../styles/vars';

.quiz__management{
  padding: 1.5rem;
  @include mixin.breakpoint(desktop) {
   padding: 1.5rem vars.$headerHeight;
  }
  &__header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    &-title {
      font-size: 1.5rem;
      line-height: 1.75rem;
      text-align: center;
      color: vars.$primary-dark-color;
      width: calc(100% - (42px)); 
      @include mixin.breakpoint(desktop) {
        font-size: 2rem;
        padding: 1.5rem 0;
        width: 100%;
       }
    }
  }
  &__add-Btn {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
  &__subtitle {
    font-size: 1.25rem;
    padding: 1.5rem;
    color: vars.$main-primary-color;
    text-align: center;
    @include mixin.breakpoint(desktop) {
      font-size: 1.5rem;
      padding: 1.5rem 0;
     }
  }
}


.quiz__content-list{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;

  @include mixin.breakpoint(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.card-wrapper{
  position:relative;
  width: 330px;
  height: 530px;
  margin: 1rem auto;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // background-color: rgba(13, 114, 218, 0.2);
  color:#ffebc4;
  border-radius: 8px;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}






