@use '../../styles/mixin';
@use '../../styles/vars';

.quiz__title {
  text-align: center;
  font-size: 1.5rem;
}

.quiz__subtitle {
  text-align: center;
  font-size: 1.25rem;
  padding-top: 2rem;
}

.card-wrapper{
  position:relative;
  max-width: 300px;
  margin: 4rem auto;
}

.card-buttons {
  position: absolute;
  top: -2.2rem;

  z-index: 1;

  &__delete{
    right: 0px;

  }
  &__edit{
    left: 40px;

  }
}