@use '../../styles/mixin';
@use '../../styles/vars';

.btn-Exit{
    outline: 0;
    border: none;
    padding: 0.5rem;  
    border-radius: 50%;
    // background: vars.$primary-dark-color;
    background-color: vars.$main-secondary-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    width: 36px;
    cursor: pointer;
    transition: background-color .17s ease,color .17s ease;
    &:hover {
      // background-color: hsl(210, 89%, 35%);
      background: vars.$secondary-light-color;
    }
    @include mixin.breakpoint(desktop) {
      position: absolute;
      top: 6.5rem;
      left: 5.5rem
     }
  }
    


