@use '../../../styles/mixin';
@use '../../../styles/vars';

.header__logo{
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 0.5rem;
  &-img{
    width: 100px;

    max-height: vars.$headerHeight;
/*     margin: 1.5rem 0; */
  }
  &-text{
    font-size: 1.2rem;
  }
}